
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid  py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-center" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Iniciar Sesión</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Usuario</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Contraseña</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Contrasña" aria-label="Password" aria-describedby="basic-addon1">
                    </div>
                </div>
                <input type="button" class="btn btn-success col-md-12" value="Iniciar Sesión" />
            </div>
        </div>        
    </div>
</div>

