@media only screen and (max-width: 991px) {
    .imgUnach {
        position:absolute;
        display: none;        
    }
}

@media only screen and (min-width: 992px) {
    .barraMenu {
        position: absolute;
        background-color: #003d5f;
        left: 0%;
        height: 25px;

    }

    .ubicacion {
        position: absolute;
        height:0%;
        left: 0%;
    }
    .ubicacion2 {
        position: absolute;
        left: 92%;
    }

    .estiloLetras {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
}
