
@{
    ViewBag.Title = "Plan de Trabajo";
    Layout = "~/Views/Shared/_LayoutContenido.cshtml";
}

<h2></h2>

<br />
<br />
<br />
<br />



<div ng-controller="MIPlanController as ctrl" ng-init="ctrl.Inicio()">

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
    <!-- Modal Update-->
    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="ModalActividades" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="modalForm" novalidate>
                    <div id="title" class="">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close btn-danger" data-dismiss="modal" ng-click="ctrl.close(modalForm)" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <div class="row justify-content-center">
                                <label id="lblPrograma" class="">Programa</label>
                            </div>
                            <div class="row justify-content-center">
                                <select id="cmbPrograma" class="" name="cmbPrograma" ng-options="option.Id as option.Programa for option in ctrl.ObtenerProgramasView" ng-model="ctrl.ObtenerDatosActividadesView[0].Id_Programa" required>
                                    <option value="">--Seleccionar Programa--</option>
                                </select>
                            </div>
                            <div class="row justify-content-center">
                                <span class="messages" ng-show="modalForm.$submitted || modalForm.cmbPrograma.$touched">
                                    <span ng-show="!ctrl.ObtenerDatosActividadesView[0].Id_Programa" class="text-danger">Campo Requerido</span>
                                </span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <div class="row justify-content-center">
                                <label id="lblClave" for="formGroupExampleInput" class="">Clave</label>
                            </div>
                            <div class="row justify-content-center">
                                <input type="text" id="inputClave" class="" name="Clave" ng-model="ctrl.ObtenerDatosActividadesView[0].Clave" placeholder="Clave" required>
                            </div>
                            <div class="row justify-content-center">
                                <span class="messages" ng-show="modalForm.$submitted || modalForm.Clave.$touched">
                                    <span ng-show="!ctrl.ObtenerDatosActividadesView[0].Clave" class="text-danger">Campo Requerido</span>
                                </span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <div class="row justify-content-center">
                                <label id="lblAccion" for="formGroupExampleInput" class="">Acción</label>
                            </div>
                            <div class="row justify-content-center">
                                <input type="text" id="inputAccion" class="" name="Accion" ng-model="ctrl.ObtenerDatosActividadesView[0].Accion" placeholder="Accion" required>
                            </div>
                            <div class="row justify-content-center">
                                <span class="messages" ng-show="modalForm.$submitted || modalForm.Accion.$touched">
                                    <span ng-show="!ctrl.ObtenerDatosActividadesView[0].Accion" class="text-danger">Campo Requerido</span>
                                </span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <div class="row justify-content-center">
                                <label id="lblInicio" class="">Inicio</label>
                            </div>
                            <div class="row justify-content-center">
                                <input type="text" class="" id="InicioUpdate" name="Inicio" ng-model="ctrl.ObtenerDatosActividadesView[0].Fecha_Inicio" placeholder="Inicio" required>
                            </div>
                            <div class="row justify-content-center">
                                <span class="messages" ng-show="modalForm.$submitted || modalForm.Inicio.$touched">
                                    <span ng-show="!ctrl.ObtenerDatosActividadesView[0].Fecha_Inicio" class="text-danger">Campo Requerido</span>
                                </span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <div class="row justify-content-center">
                                <label id="lblFin" class="">Fin</label>
                            </div>
                            <div class="row justify-content-center">
                                <input type="text" class="" id="FinUpdate" name="Fin" ng-model="ctrl.ObtenerDatosActividadesView[0].Fecha_Fin" placeholder="Fin" required>
                            </div>
                            <div class="row justify-content-center">
                                <span class="messages" ng-show="modalForm.$submitted || modalForm.Fin.$touched">
                                    <span ng-show="!ctrl.ObtenerDatosActividadesView[0].Fecha_Fin" class="text-danger">Campo Requerido</span>
                                </span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <div class="row justify-content-center">
                                <label id="lblImpacto" class="">Impacto</label>
                            </div>
                            <div class="row justify-content-center">
                                <input type="text" id="inputImpacto" class="" name="Impacto" ng-model="ctrl.ObtenerDatosActividadesView[0].Impacto" placeholder="Impacto" required>
                            </div>
                            <div class="row justify-content-center">
                                <span class="messages" ng-show="modalForm.$submitted || modalForm.Impacto.$touched">
                                    <span ng-show="!ctrl.ObtenerDatosActividadesView[0].Impacto" class="text-danger">Campo Requerido</span>
                                </span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <div class="row justify-content-center">
                                <label id="lblPrioritaria" class="">Prioritaria</label>
                            </div>
                            <div class="row justify-content-center">
                                <select id="cmbPrioritaria" class="" name="Prioritaria" ng-model="ctrl.Prioritaria" required>
                                    <option value="S">SI</option>
                                    <option value="N">NO</option>
                                </select>
                            </div>
                            <div class="row justify-content-center">
                                <span class="messages" ng-show="modalForm.$submitted || modalForm.Prioritaria.$touched">
                                    <span ng-show="!ctrl.Prioritaria" class="text-danger">Campo Requerido</span>
                                </span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <div class="row justify-content-center">
                                <label id="lblStatus" class="">Estatus</label>
                            </div>
                            <div class="row justify-content-center">
                                <select id="cmbStatus" class="" name="Estatus" ng-model="ctrl.EStatus" required>
                                    <option value="A">Activo</option>
                                    <option value="B">Baja</option>
                                    <option value="P">Pendiente</option>
                                </select>
                            </div>
                            <div class="row justify-content-center">
                                <span class="messages" ng-show="modalForm.$submitted || modalForm.Estatus.$touched">
                                    <span ng-show="!ctrl.EStatus" class="text-danger">Campo Requerido</span>
                                </span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

                            <br />
                            <div class="row justify-content-center">
                                <div id="ErrorModal" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
                                    <strong id="MessageModal">¡Ha ocurrido un error! </strong>
                                    <button type="button" class="close" ng-click="ctrl.DivErrorModal()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn btn-danger" ng-click="ctrl.close(modalForm)">Salir</button>
                        <button type="button" id="btnModal" class="btn" ng-click="ctrl.ActividadesCrud(ctrl.ObtenerDatosActividadesView[0].Id); ctrl.reset(modalForm)" ng-disabled="modalForm.$invalid">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->


    <div class="container">


        <div id="Error" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
            <strong id="Message">¡Ha ocurrido un error! </strong>
            <button type="button" class="close" ng-click="ctrl.DivError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
                <div class="form-group">
                    <label for="lblEjercicios" class="text-primary">Ejercicio:</label>
                    <select class="form-control border border-primary" name="cmbEjercicio" ng-change="ctrl.ValorEjercicio()" ng-options="option.Id as option.Descripcion for option in ctrl.Ejercicios" ng-model="ctrl.buscarEjercicios" style="max-width:100%;">
                        <option value="">Seleccionar Ejercicio</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <div class="form-group">
                    <label for="lblDependencia" class="text-primary">Dependencia:</label>
                    <select class="form-control border border-primary" name="cmbDependencia" ng-change="ctrl.ValorDependencia()" ng-options="option.Id as option.Descripcion for option in ctrl.dependencias" ng-model="ctrl.buscarDependencias" style="max-width:100%;">
                        <option value="">Seleccionar Dependencia</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
                <div class="form-group">
                    <label for="lblPlanes" class="text-primary">Plan de Trabajo:</label>
                    <select class="form-control border border-primary" name="cmbPlanDeTrabajo" ng-change="ctrl.ValorPlanes()" ng-options="option.Id as option.Descripcion for option in ctrl.Planes" ng-model="ctrl.buscarPlanes" style="max-width:100%;">
                        <option value="">Seleccionar Plan de Trabajo</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <div class="form-group">
                    <label for="lblUnidadesR" class="text-primary">Unidad Responsable</label>
                    <select class="form-control border border-primary" name="cmbUnidadResponsable" ng-change="ctrl.ValorUnidad()" ng-options="option.Id as option.Descripcion for option in ctrl.UnidadesResponsables" ng-model="ctrl.buscar" style="max-width:100%;">
                        <option value="">Seleccionar Unidad Responsable</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="form-group">
                    <label for="lblBuscar" class="text-primary">&nbsp;</label>
                    <button class="btn btn-info btn-block" ng-click="ctrl.BtnBuscar()">Buscar</button>
                </div>
            </div>
        </div>

    </div>
    <br />
    <div class="container-fluid border-bottom border-info"></div>
    <br />



    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="container">
                        <div class="row">
                            <div class="col text-right">
                                <button type="button" id="btnCrear" class="btn btn-sm btn-success btn-create" style="width:120px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="box-shadow: 10px 40px 96px rgba(0,0,0,.1)">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Areas de Atención</th>
                                <th scope="col">%</th>
                                <th scope="col" style="text-align:center"><em class="fa fa-cog"></em></th>
                            </tr>
                        </thead>


                        <tbody ng-pagination="i in ctrl.GridAreasAtencionView |  itemsPerPage: 10 ">
                            <tr>
                                <td ng-click="ctrl.Meta(i.Id) " class="cursor-pointer">{{i.Id}}.- {{i.Descripcion}}</td>
                                <td>0</td>

                                <td style="text-align:center">
                                    <button type="button" class="btn btn-danger" data-toggle="tooltip" data-html="true" title="Eliminar" ng-click="ctrl.EliminnarPeriodo(i.Id)" style="width:40px"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <!---->
                        <tfoot>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Generar Reporte en Excel" ng-click="ctrl.BorrarImpViatico($index)" style="width:40px">
                                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                    </button>
                                </th>
                                <th>
                                    <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Generar Reporte en PDF" ng-click="ctrl.BorrarImpViatico($index)" style="width:40px">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                    </button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <ng-pagination-control boundary-links="true"></ng-pagination-control>
            </div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">

            <div role="tabpanel" style="box-shadow: 10px 40px 96px rgba(0,0,0,.1)">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="Acciones-tab" data-toggle="tab" href="#Acciones" role="tab" aria-controls="Acciones" aria-selected="true">Acciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="UR-tab" data-toggle="tab" href="#UR" role="tab" aria-controls="UR" aria-selected="false">Unidades Responsables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Indicadores-tab" data-toggle="tab" href="#Indicadores" role="tab" aria-controls="Indicadores" aria-selected="false">Indicadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Evidencias-tab" data-toggle="tab" href="#Evidencias" role="tab" aria-controls="Evidencias" aria-selected="false">Evidencias</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Acciones" role="tabpanel" aria-labelledby="Acciones-tab">
                        <br />
                        <div class="panel panel-default panel-table">
                            <div class="panel-heading">
                                <div class="container">
                                    <div class="row">
                                        <div class="col text-left">
                                            <h6>Area de Atención:  <span class="badge badge-secondary">Matricula</span></h6>
                                        </div>
                                        <div class="col text-right">
                                            <button type="button" id="btnCrear" class="btn btn-sm btn-success btn-create" style="width:120px" data-toggle="modal" data-target="#ModalActividades" data-backdrop="static" data-keyboard="false" data-toggle="tooltip" data-html="true" title="Crear" ng-click="ctrl.Color()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Programa</th>
                                            <th scope="col">Acción</th>
                                            <th scope="col">Inicio</th>
                                            <th scope="col">Fin</th>
                                            <th scope="col">Impacto</th>
                                            <th scope="col">Prioritaria</th>
                                            <th scope="col">Status</th>
                                            <th scope="col" style="text-align:center"><em class="fa fa-cog"></em></th>
                                        </tr>
                                    </thead>


                                    <tbody ng-pagination="i in ctrl.GridActividadesView |  itemsPerPage: 5">
                                        <tr>
                                            <td>{{i.Desc_Programa}}</td>
                                            <td>{{i.Desc_Accion}}</td>
                                            <td>{{i.Fecha_Inicio}}</td>
                                            <td>{{i.Fecha_Fin}}</td>
                                            <td>{{i.Impacto}}</td>
                                            <td>{{i.Prioritaria}}</td>
                                            <td>{{i.Status}}</td>
                                            <td style="text-align:center">

                                                <button type="button" id="btnUpdate" class="btn btn-primary" style="width:40px" data-toggle="modal" data-target="#ModalActividades" data-backdrop="static" data-keyboard="false" data-toggle="tooltip" data-html="true" title="Editar" ng-click="ctrl.Modal(i.Id)">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>

                                                <button type="button" class="btn btn-danger" data-toggle="tooltip" data-html="true" title="Eliminar" ng-click="ctrl.EliminnarPeriodo(i.Id)" style="width:40px"><i class="fa fa-eraser" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="4"><dir-pagination-controls boundary-links="true"></dir-pagination-controls></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="UR" role="tabpanel" aria-labelledby="UR-tab"><h3>Unidades Responsables</h3></div>
                    <div class="tab-pane fade" id="Indicadores" role="tabpanel" aria-labelledby="Indicadores-tab"><h3>Indicadores</h3></div>
                    <div class="tab-pane fade" id="Evidencias" role="tabpanel" aria-labelledby="Evidencias-tab"><h3>Evidencias</h3></div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>


<br />
<br />
<br />
<br />
<br />

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-pagination.js"></script>
<script src="~/Scripts/global.js"></script>
@*<script src="~/Scripts/angular.ng-modules.js"></script>*@
<script src="~/Scripts/Controllers/PlanTrabajoController.js"></script>
<script src="~/Scripts/Models/PlanTrabajoModel.js"></script>
<script src="~/Scripts/Controllers/AccesoController.js"></script>
<script src="~/Scripts/Models/AccesoModel.js"></script>
<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script type="text/javascript">

    //$('#inputEjercicio').datetimepicker({
    //    timepicker: false,
    //    format: 'Y'
    //});

    $('#InicioUpdate').datetimepicker({
        timepicker: false,
        format: 'd/m/Y'
    });
    $('#FinUpdate').datetimepicker({
        timepicker: false,
        format: 'd/m/Y'
    });
</script>

