
@{
    ViewBag.Title = "AcreditadoresRegistro";
    Layout = "~/Views/Shared/_LayoutContenido.cshtml";
}
<br/>
<h2>AcreditadoresRegistro</h2>

<div">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="lblTipo">Programa Educativo:</label>
            <select class="form-control" name="cmbTipo" ng-change="ctrl.ObtenerTiposComprobacion()" @*ng-options="option.Id as option.Descripcion for option in ctrl.dependencias"*@ ng-model="ctrl.cve_dependencia">
                <option value="1">--Elegir Programa Edicativo--</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="lblSubtipo">Status:</label>
            <select class="form-control" name="cmbSubtipo" ng-change="ctrl.ObtenerSubtipos()" @*ng-options="option.Id as option.Descripcion for option in ctrl.dependencias"*@ ng-model="ctrl.cve_dependencia">
                <option value="1">Activo</option>
                <option value="1">Inactivo</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="lblFechaComprobacion">Fecha Inicio:</label>
            <input class="form-control" name="txtFechaComprobacion" type="date" ng-model="ctrl.cve_fecha_comprobacion" />
        </div>
        <div class="form-group col-md-6">
            <label for="lblFechaComprobacion">Fecha Fin:</label>
            <input class="form-control" name="txtFechaComprobacion" type="date" ng-model="ctrl.cve_fecha_comprobacion" />
        </div>
       
    </div>
 
    <div class="row">
        <div class="form-group col-md-6">
            <button type="button" id="bttnAgregarComprobacion" ng-click="ctrl.AgregarComprobacion()" class="btn btn-primary">Agregar</button>

        </div>
        <div class="form-group col-md-6">
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Salir</button>
        </div>
    </div>
    </div>
