
@{
    ViewBag.Title = "AreasAtencion";
    Layout = "~/Views/Shared/_LayoutContenido.cshtml";

}
<br />
<br />
<br />
<br />
<div ng-app="MIPlanWeb" ng-controller="MIPlanController as ctrl" ng-init="ctrl.Inicio()">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="lblDependencia" class="text-primary">Dependencia:</label>
                    <select class="form-control border border-primary" name="cmbDependencia" ng-change="ctrl.ValorDependencia()" ng-options="option.Id as option.Descripcion for option in ctrl.dependencias" ng-model="ctrl.buscar" style="max-width:100%;">
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="lblstatus" class="text-info">Status:</label>
                    <select class="form-control border border-info" name="cmbstatus" ng-change="ctrl.StatusFun()" ng-model="ctrl.Status.Status" style="max-width:100%;">
                        <option value="">--Seleccionar Estatus--</option>
                        <option value="Todos">Todos</option>
                        <option value="A">Alta</option>
                        <option value="B">Baja</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="lblStatus" class="text-success">Busqueda</label>
                    <input type="text" class="form-control border border-success" placeholder="Busqueda" ng-model="ctrl.buscar" style="max-width:100%;">
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="panel panel-default panel-table">
        @*<h3 class="panel-title input-group-text">Viaticos Asignados</h3><input type="button" class="btn btn-sm btn-primary btn-create" data-toggle="modal" data-target="#InfViaticos" />Nuevo<i class="fa fa-plus" aria-hidden="true"></i>*@
        <div class="panel-heading">
            <div class="row">
                <div class="col text-right">
                   <div class="container">
                    <div class="col text-right">
                        <button type="button" id="Nuevo" title="Nuevo" class="btn btn-sm btn-success btn-create" data-toggle="modal" data-target="#areasatencion" style="width:120px" ng-click="ctrl.Nuevo()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo</button>
                        <br />
                    </div>
                   </div>

                    <div class="modal fade" id="areasatencion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div id="Titulo" class="modal-header btn-success justify-content-center">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ctrl.Titulo}}</h5>
                                    <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="form-inline col-md-3">
                                                <label id="lblDependencia" for="lblDependencia" class="text-success">Dependencia:</label>
                                            </div>
                                            <div class="form-inline col-md-1">
                                                <select id="cmdDependencia" class="form-control border border-success" name="cmdDependencia" ng-change="ctrl.ValorDependencia()" ng-options="option.Id as option.Descripcion for option in ctrl.dependencias" ng-model="ctrl.cve_dependencia">
                                                </select>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="form-inline col-md-3">
                                                <label id="lblClave" for="lblClave" class="text-success">Clave:</label>
                                            </div>
                                            <div class="form-inline col-md-1">
                                                <input id="txtClave" class="form-control border border-success" name="txtClave" ng-model="ctrl.cve_clave">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="form-inline col-md-3">
                                                <label id="lblDescripcion" for="lblDescripcion" class="text-success">Descripción:</label>
                                            </div>
                                            <div class="form-inline col-md-1">
                                                <input id="txtDescripcion" class="form-control border border-success" name="txtDescripcion" type="text" ng-model="ctrl.cve_desc">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="form-inline col-md-3">
                                                <label id="lblStatus" for="lblStatus" class="text-success">Status:</label>
                                            </div>
                                            <div class="form-inline col-md-1">
                                                <select id="cmdstatus" class="form-control border border-success" name="cmdstatus" ng-model="ctrl.cve_status">
                                                    <option value="">--Seleccionar Estatus--</option>
                                                    <option value="A">Alta</option>
                                                    <option value="B">Baja</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="form-inline col-md-3">
                                                <label id="lblCategoria" for="lblCat" class="text-success">Categoria:</label>
                                            </div>
                                            <div class="form-inline col-md-1">
                                                <select id="cmdcat" class="form-control border border-success" name="cmdcat" required ng-options="option.Id as option.Descripcion for option in ctrl.categoria" ng-model="ctrl.cve_cat">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Salir</button>
                                    <button type="button" id="btnNuevo" class="btn btn-success" data-dismiss="modal" ng-click="ctrl.AreasAtencionCreate()">Guardar</button>
                                    <button type="button" id="btnActualizar" class="btn btn-primary" data-dismiss="modal" ng-click="ctrl.AreasAtencionUpdate()">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />
        </div>

        <input type="hidden" ng-model="ctrl.cve_id" />

        <div class="container table-responsive" style="box-shadow: 10px 40px 96px #C8E7EC">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Dependencia</th>
                        <th scope="col">Clave</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Status</th>
                        <th scope="col">Categoria</th>
                        <th style="text-align:center"><em class="fa fa-cog"></em></th>
                    </tr>
                </thead>
                <tbody ng-repeat="i in ctrl.areasatencion | filter:ctrl.buscar | filter:ctrl.Status" ng-pagination-size="5">
                    <tr>
                        <td>{{i.Id}}</td>
                        <td>{{i.Dependencia}}</td>
                        <td>{{i.Cve}}</td>
                        <td>{{i.Desc}}</td>
                        <td>{{i.Estatus}}</td>
                        <td>{{i.Cat}}</td>

                        <td style="text-align:center">
                            <button type="button" id="Actualizar" title="Editar" class="btn btn-primary btn-create" style="width:50px" data-toggle="modal" data-target="#areasatencion" ng-click="ctrl.ObtDatos(i.Id)">

                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>

                            <button type="button" class="btn btn-danger" title="Eliminar" ng-click="ctrl.EliminarAreaAtencion(i.Id)" style="width:50px">
                                <i class="fa fa-eraser" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th><ng-pagination-control pagination-id="ctrl.areasatencion" color="white" height="35px"></ng-pagination-control></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th style="text-align:center">
                            <button type="button" title="PDF" class="btn btn-danger" ng-click="ctrl.BorrarImpViatico($index)" style="width:50px">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" title="Excel" class="btn btn-success" ng-click="ctrl.BorrarImpViatico($index)" style="width:50px">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            </button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<br />
<br />
<br />
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/global.js"></script>
@*<script src="~/Scripts/angular.ng-modules.js"></script>*@
<script src="~/Scripts/Controllers/AreasAtencionController.js"></script>
<script src="~/Scripts/Models/AreasAtencionModel.js"></script>