
@{
    ViewBag.Title = "BasicosRegistro";
    Layout = "~/Views/Shared/_LayoutContenido.cshtml";

}
<br />
<br />

<h2>BasicosRegistro</h2>
<div">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="lblCatalogo">Catalogo:</label>
            <select class="form-control" name="cmbCatalogo">
                <option value="0">--SELECCIONAR--</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="lblClave">Clave:</label>
            <input class="form-control" name="txtClave" type="text">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label for="lblOrganizmo">Organizmo:</label>
            <select class="form-control" name="cmbOrganizmo">
                <option value="0">--SELECCIONAR Organizmo--</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label for="lblStatus">Status:</label>
            <select class="form-control" name="cmbstatus">
                <option value="0">--SELECCIONAR STATUS--</option>
                <option value="1">Activo</option>
                <option value="2">Baja</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <button type="button" id="bttnAgregarComprobacion" ng-click="ctrl.AgregarComprobacion()" class="btn btn-primary">Agregar</button>

        </div>
        <div class="form-group col-md-6">
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Salir</button>
        </div>
    </div>
</div">