
@{

    ViewBag.Title = "Basicos";
    Layout = "~/Views/Shared/_LayoutContenido.cshtml";

}
<h2>Basicos</h2>
<br />
<br />
<br />
<div ng-app="MIPlanWeb" ng-controller="MIPlanController as ctrl" ng-init="ctrl.Inicio()">

    <div class="container">
      

        <div id="Error" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
            <strong id="Message">¡Ha ocurrido un error! </strong>
            <button type="button" class="close" ng-click="ctrl.DivError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>



        <div class="row justify-content-center">

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="lbcatalogo" class="text-success">Catalogo:</label>
                    <select class="form-control border border-success" name="cmbcatalogo" ng-change="ctrl.Valorbasicos()" ng-model="ctrl.buscar" ng-options="option.Id as option.Descripcion for option in ctrl.catalogos" style="max-width:100%;">
                        <option value="">--Seleccionar Catalogo--</option>
                        <option value="Todas">Todas</option>

                    </select>

                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="lblstatus" class="text-info">Estatus:</label>
                    <select class="form-control border border-info" name="cmbDependencia" ng-change="ctrl.StatusFun()" ng-model="ctrl.Status.Status" style="max-width:100%;">
                        <option value="">--Seleccionar Estatus--</option>
                        <option value="Todos">TODOS</option>
                        <option value="A">ALTA</option>
                        <option value="B">BAJA</option>

                    </select>
                </div>
            </div>



        </div>
    </div>
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="container">
                <div class="col text-right">
                    <button type="button" id="Nuevo" class="btn btn-sm btn-success btn-create" data-toggle="modal" data-target="#basicos" style="width:120px" ng-click="ctrl.Nuevo()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo</button>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="modal fade" id="basicos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form name="modalForm" novalidate>
                        <div id="Titulo" class="modal-header btn-success justify-content-center">
                            <h5 class="modal-title" id="exampleModalLabel">{{ctrl.Titulo}}</h5>
                            <button type="button" class="close btn-danger" data-dismiss="modal" ng-click="ctrl.reset(modalForm)" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">



                                <div class="row justify-content-center">
                                    <label id="lblcatalogo" for="lblcatalogo" class="text-success">Catalogo:</label>
                                </div>
                                <div class="row justify-content-center">
                                    <select id="cmbcatalogo" class="form-control border border-success" required name="cmbcatalogo" ng-model="ctrl.cve_catalogo" ng-options="option.Id as option.Descripcion for option in ctrl.catalogos">
                                        <option value="">--Seleccionar Catalogo--</option>
                                        <option value="Todas">Todas</option>
                                    
                                    </select>
                                </div>

                                <div class="row justify-content-center">
                                    <span class="messages" ng-show="modalForm.$submitted || modalForm.cmbcatalogo.$touched">
                                        <span ng-show="!ctrl.cve_catalogo" class="text-danger">Campo Requerido</span>
                                    </span>
                                </div>

                                <div class="row justify-content-center">
                                    <label id="lblClave" for="lblClave" class="text-success">Clave:</label>
                                </div>
                                <div class="row justify-content-center">
                                    <input type="text" id="txtClave" class="form-control border border-success" required name="txtClave" placeholder="" ng-model="ctrl.cve_clave">
                                </div>

                                <div class="row justify-content-center">
                                    <span class="messages" ng-show="modalForm.$submitted || modalForm.txtClave.$touched">
                                        <span ng-show="!ctrl.cve_clave" class="text-danger">!Digitos¡</span>
                                    </span>
                                </div>

                                <div class="row justify-content-center">
                                    <label id="lblDescripcion" for="lblDescripcion" class="text-success">Descripcion:</label>
                                </div>
                                <div class="row justify-content-center">
                                    <input type="text" id="txtDescripcion" class="form-control border border-success" name="txtDescripcion" placeholder="" ng-model="ctrl.cve_descripcion">
                                </div>
                                <div class="row justify-content-center">
                                    <label id="lblorden" for="lblorden" class="text-success">Orden:</label>
                                </div>
                                <div class="row justify-content-center">
                                    <input type="text" id="txtorden" class="form-control border border-success" name="txtorden" placeholder="" ng-model="ctrl.cve_orden">

                                </div>
                                <div class="row justify-content-center">
                                    <span class="messages" ng-show="modalForm.$submitted || modalForm.txtorden.$touched">
                                        <span ng-show="!ctrl.cve_orden" class="text-danger">Campo Requerido</span>
                                    </span>
                                </div>
                                <div class="row justify-content-center">
                                    <label id="lblstatus" for="lblstatus" class="text-success">Estatus:</label>
                                </div>
                                <div class="row justify-content-center">
                                    <div id="Radio" class="radio-group form-control border border-success text-center" style="max-width: 280px;">
                                        <label class="radio ">
                                            <input type="radio" value="S" name="gender" ng-model="ctrl.cve_status" required />
                                            Alta
                                            <span></span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" value="N" name="gender" ng-model="ctrl.cve_status" required />
                                            Baja
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                              


                            </div>
                            <br />
                            <div class="row justify-content-center">
                                <div id="ErrorModal" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
                                    <strong id="MessageModal">¡Ha ocurrido un error! </strong>
                                    <button type="button" class="close" ng-click="ctrl.DivErrorModal()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <br />
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
                                <button type="button" id="btnNuevo" class="btn btn-success" data-dismiss="modal" ng-click="ctrl.AcreditadorCreate(ctrl.cve_id.Id); ctrl.reset(modalForm)" ng-disabled="modalForm.$invalid">Guardar</button>
                                <button type="button" id="btnActualizar" class="btn btn-primary" data-dismiss="modal" ng-click="ctrl.AcreditadorUpdate(ctrl.cve_id.Id); ctrl.reset(modalForm)" ng-disabled="modalForm.$invalid">Guardar</button>
                            </div>

                        </div>
                    </form>
                </div>

                <br />
            </div>
        </div>
        <input type="hidden" ng-model="ctrl.cve_id" />
        <div class="container table-responsive" style="box-shadow: 10px 40px 96px rgba(0,0,0,.3)">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Catalogo'; sortReverse = !sortReverse">
                                Catalogo
                                <span ng-class="sortType == 'Catalogo' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Catalogo' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>

                        <th scope="col">
                            <a href="" ng-click="sortType = 'Organismo'; sortReverse = !sortReverse">
                                Organismo
                                <span ng-class="sortType == 'Organismo' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Organismo' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Clave'; sortReverse = !sortReverse">
                                Clave
                                <span ng-class="sortType == 'Clave' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Clave' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Descripcion'; sortReverse = !sortReverse">
                                Descripcion
                                <span ng-class="sortType == 'Descripcion' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Descripcion' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Status'; sortReverse = !sortReverse">
                                Status
                                <span ng-class="sortType == 'Status' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Status' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        

                        <th style="text-align:center"><em class="fa fa-cog"></em></th>
                    </tr>
                </thead>
                <tbody ng-pagination="i in ctrl.basicos | orderBy:sortType:sortReverse | filter:ctrl.buscar | filter:ctrl.Status  | itemsPerPage: 5  ">
                    <tr>
                        <td>{{i.Id}}</td>
                        <td>{{i.DescripcionPadre}}</td>
                        <td>{{i.Clave}}</td>
                        <td>{{i.Descripcion}}</td>
                        <td>{{i.Status}}</td>

                        <td style="text-align:right">
                            <button type="button" id="Actualizar" class="btn btn-primary" title="Editar" data-placement="top" data-toggle="modal" data-target="#basicos" data-backdrop="static" data-keyboard="false" data-html="true" ng-click="ctrl.ObtenerDatos(i.Id)" style="width:50px">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger" title="Eliminar" ng-click="ctrl.Eliminar(i.Id)" style="width:50px">
                                <i class="fa fa-eraser" data-placement="top" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>


                <tfoot>
                    <tr>
                        <th colspan="4"><ng-pagination-control boundary-links="true"></ng-pagination-control>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th style="text-align:right" colspan="2">
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Generar Reporte en Excel" ng-click="ctrl.BorrarImpViatico($index)" style="width:50px">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Generar Reporte en PDF" ng-click="ctrl.BorrarImpViatico($index)" style="width:50px">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-pagination.js"></script>
<script src="~/Scripts/global.js"></script>
@*<script src="~/Scripts/angular.ng-modules.js"></script>*@
<script src="~/Scripts/Controllers/CatController.js"></script>
<script src="~/Scripts/Models/CatModel.js"></script>


