@{
    ViewBag.Title = "Indicadores";
    Layout = "~/Views/Shared/_LayoutContenido.cshtml";

}
<br />
<br />
<br />
<br />
<div ng-app="MIPlanWeb" ng-controller="MIPlanController as ctrl" ng-init="ctrl.Inicio()">
    <div class="container">
        <div id="Error" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
            <strong id="Message">¡Ha ocurrido un error! </strong>
            <button type="button" class="close" ng-click="ctrl.DivError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="lblCategoria" class="text-primary">Categoría:</label>
                    <select class="form-control border border-primary" name="cmbCategoria" ng-change="ctrl.ValorCategoria()" ng-options="option.Id as option.Descripcion for option in ctrl.categoria" ng-model="ctrl.buscar" style="max-width:100%;">
                        <option value="">--Seleccionar CategorÍa--</option>
                        <option value="Todas">Todas</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="lblSubtipo" class="text-info">Subtipo:</label>
                    <select class="form-control border border-info" name="cmbsubtipo" ng-change="ctrl.SubtipoFun()" ng-options="option.Id as option.Descripcion for option in ctrl.subtipo" ng-model="ctrl.Subtipo.Subtipo" style="max-width:100%;">
                        <option value="">--Seleccionar Subtipo--</option>
                        <option value="Todos">Todos</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col text-right">
                    <div class="container">
                        <div class="col text-right">
                            <button type="button" id="Nuevo" class="btn btn-sm btn-success btn-create" data-toggle="modal" data-target="#indicadores" data-backdrop="static" data-keyboard="false" style="width:120px" ng-click="ctrl.Nuevo()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo</button>
                            <br />
                        </div>
                    </div>

                    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="indicadores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form name="modalForm" novalidate>
                                    <div id="Titulo" class="modal-header btn-success justify-content-center">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ctrl.Titulo}}</h5>
                                        <button type="button" class="close btn-danger" data-dismiss="modal" ng-click="ctrl.reset(modalForm)" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row justify-content-center">
                                                <label id="lblCategoria" for="lblCategoria" class="text-success">Categoría:</label>
                                            </div>
                                            <div class="row justify-content-center">
                                                <select id="cmdCategoria" class="form-control border border-success" name="cmdCategoria" required ng-options="option.Id as option.Descripcion for option in ctrl.categoria" ng-model="ctrl.cve_cat">
                                                    <option value="">--Seleccionar Categoría--</option>
                                                </select>
                                            </div>
                                            <div class="row justify-content-center">
                                                <span class="messages" ng-show="modalForm.$submitted || modalForm.cmdCategoria.$touched">
                                                    <span ng-show="!ctrl.cve_cat" class="text-danger">Campo Requerido</span>
                                                </span>
                                            </div>
                                            <br />
                                            <div class="row justify-content-center">
                                                <label id="lblSubtipo" for="lblSubtipo" class="text-success">Subtipo:</label>
                                            </div>
                                            <div class="row justify-content-center">
                                                <select id="cmdSubtipo" class="form-control border border-success" name="cmdSubtipo" required ng-options="option.Id as option.Descripcion for option in ctrl.subtipo" ng-model="ctrl.cve_sub">
                                                    <option value="">--Seleccionar Subtipo--</option>
                                                </select>
                                            </div>
                                            <div class="row justify-content-center">
                                                <span class="messages" ng-show="modalForm.$submitted || modalForm.cmdSubtipo.$touched">
                                                    <span ng-show="!ctrl.cve_sub" class="text-danger">Campo Requerido</span>
                                                </span>
                                            </div>
                                            <br />
                                            <div class="row justify-content-center">
                                                <label id="lblDescripcion" for="lblDescripcion" class="text-success">Descripción:</label>
                                            </div>
                                            <div class="row justify-content-center">
                                                <input id="txtDescripcion" class="form-control border border-success" name="txtDescripcion" type="text" ng-model="ctrl.cve_desc" required placeholder="Descripción">
                                            </div>
                                            <div class="row justify-content-center">
                                                <span class="messages" ng-show="modalForm.$submitted || modalForm.txtDescripcion.$touched">
                                                    <span ng-show="!ctrl.cve_desc" class="text-danger">Campo Requerido</span>
                                                </span>
                                            </div>
                                            <br />
                                            <div class="row justify-content-center">
                                                <label id="lblEtiqueta1" for="lblEtiqueta1" class="text-success">Etiqueta 1:</label>
                                            </div>
                                            <div class="row justify-content-center">
                                                <select id="cmdEtiqueta1" class="form-control border border-success" name="cmdEtiqueta1" required ng-options="option.Id as option.Descripcion for option in ctrl.etiqueta" ng-model="ctrl.cve_et1">
                                                    <option value="">--Seleccionar Etiqueta--</option>
                                                </select>
                                            </div>
                                            <div class="row justify-content-center">
                                                <span class="messages" ng-show="modalForm.$submitted || modalForm.cmdEtiqueta1.$touched">
                                                    <span ng-show="!ctrl.cve_et1" class="text-danger">Campo Requerido</span>
                                                </span>
                                            </div>
                                            <br />
                                            <div class="row justify-content-center">
                                                <label id="lblEtiqueta2" for="lblEtiqueta2" class="text-success">Etiqueta 2:</label>
                                            </div>
                                            <div class="row justify-content-center">
                                                <select id="cmdEtiqueta2" class="form-control border border-success" name="cmdEtiqueta2" required ng-options="option.Id as option.Descripcion for option in ctrl.etiqueta" ng-model="ctrl.cve_et2">
                                                    <option value="">--Seleccionar Etiqueta--</option>
                                                </select>
                                            </div>
                                            <div class="row justify-content-center">
                                                <span class="messages" ng-show="modalForm.$submitted || modalForm.cmdEtiqueta2.$touched">
                                                    <span ng-show="!ctrl.cve_et2" class="text-danger">Campo Requerido</span>
                                                </span>
                                            </div>
                                            <br />
                                            <div class="row justify-content-center">
                                                <label id="lblSeguimiento" class="">¿Seguimiento?</label>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div id="Radio" class="radio-group form-control border border-success text-center" style="max-width: 280px;">
                                                    <label class="radio ">
                                                        <input type="radio" value="S" name="btnseg" required ng-model="ctrl.cve_seg" />
                                                        Si
                                                        <span></span>
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" value="N" name="btnseg" required ng-model="ctrl.cve_seg" />
                                                        No
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <span class="messages" ng-show="modalForm.$submitted || modalForm.btnseg.$touched">
                                                    <span ng-show="!ctrl.cve_seg" class="text-danger">Campo Requerido</span>
                                                </span>
                                            </div>
                                            <br />
                                            <div class="row justify-content-center">
                                                <div id="ErrorModal" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
                                                    <strong id="MessageModal">¡Ha ocurrido un error! </strong>
                                                    <button type="button" class="close" ng-click="ctrl.DivErrorModal()" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
                                        <button type="button" id="btnNuevo" class="btn btn-success" ng-click="ctrl.IndicadoresCreate(ctrl.cve_id); ctrl.reset(modalForm)" ng-disabled="modalForm.$invalid">Guardar</button>
                                        <button type="button" id="btnActualizar" class="btn btn-primary" ng-click="ctrl.IndicadoresUpdate(ctrl.cve_id); ctrl.reset(modalForm)" ng-disabled="modalForm.$invalid">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />
        </div>

        <input type="hidden" ng-model="ctrl.cve_id" />

        <div class="container table-responsive" style="box-shadow: 10px 40px 96px rgba(0,0,0,.3)">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Id'; sortReverse = !sortReverse">
                                Categoría
                                <span ng-class="sortType == 'Id' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Categoria' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Dependencia'; sortReverse = !sortReverse">
                                Subtipo
                                <span ng-class="sortType == 'Dependencia' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Subtipo' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Clave'; sortReverse = !sortReverse">
                                Descripción
                                <span ng-class="sortType == 'Clave' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Descripción' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Descripcion'; sortReverse = !sortReverse">
                                Etiqueta 1
                                <span ng-class="sortType == 'Descripcion' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Etiqueta 1' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Estatus'; sortReverse = !sortReverse">
                                Etiqueta 2
                                <span ng-class="sortType == 'Estatus' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Etiqueta 2' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Categoria'; sortReverse = !sortReverse">
                                Seguimiento
                                <span ng-class="sortType == 'Categoria' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Seguimiento' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        <th style="text-align:center"><em class="fa fa-cog"></em></th>
                    </tr>
                </thead>
                <tbody ng-pagination="i in ctrl.indicadores | orderBy:sortType:sortReverse | filter:ctrl.buscar | filter:ctrl.Subtipo | itemsPerPage: 5">
                    <tr>
                        <td>{{i.Cat}}</td>
                        <td>{{i.Sub}}</td>
                        <td>{{i.Desc}}</td>
                        <td>{{i.Et1}}</td>
                        <td>{{i.Et2}}</td>
                        <td>{{i.Seg}}</td>

                        <td style="text-align:right">
                            <button type="button" id="Actualizar" title="Editar" class="btn btn-primary btn-create" style="width:50px" data-toggle="modal" data-target="#indicadores" data-backdrop="static" data-keyboard="false" data-html="true" ng-click="ctrl.ObtDatos(i.Id)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>

                            <button type="button" class="btn btn-danger" title="Eliminar" ng-click="ctrl.EliminarIndicadores(i.Id)" style="width:50px">
                                <i class="fa fa-eraser" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4"><ng-pagination-control boundary-links="true"></ng-pagination-control></th>
                        <th></th>
                        <th style="text-align:right" colspan="2">
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Generar Reporte en Excel" ng-click="ctrl.BorrarImpViatico($index)" style="width:50px">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Generar Reporte en PDF" ng-click="ctrl.BorrarImpViatico($index)" style="width:50px">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>
<br />
<br />
<br />
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-pagination.js"></script>
<script src="~/Scripts/global.js"></script>
@*<script src="~/Scripts/angular.ng-modules.js"></script>*@
<script src="~/Scripts/Controllers/IndicadoresController.js"></script>
<script src="~/Scripts/Models/IndicadoresModel.js"></script>

