
@{
    ViewBag.Title = "Periodos";
    Layout = "~/Views/Shared/_LayoutContenido.cshtml";

}

<h2>Periodos</h2>
<br />
<br />
<br />

<div ng-app="MIPlanWeb" ng-controller="MIPlanController as ctrl" ng-init="ctrl.Inicio()">

    <!-- Modal Create -->
    <div class="modal fade border border-success" id="UnidadesResponsablesCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-success justify-content-center">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Unidad Responsable</h5>
                    <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container-fluid">

                        <div class="row justify-content-center">
                            <label for="lblDependencia" class="text-success">Dependencia:</label>
                        </div>
                        <div class="row justify-content-center">
                            <select class="form-control border border-success" name="cmbDependencia" ng-options="option.Id as option.Descripcion for option in ctrl.dependencias" ng-model="ctrl.periodo[0].Dependencia">
                                <option value="">--Seleccionar Dependencia--</option>
                            </select>
                        </div>
                        <div class="row justify-content-center">
                            <label for="formGroupExampleInput" class="text-success">Periodo</label>
                        </div>
                        <div class="row justify-content-center">
                            <input type="text" class="form-control border border-success" id="formGroupExampleInput" ng-model="ctrl.periodo[0].Periodo" placeholder="Periodo">
                        </div>

                        <div class="row justify-content-center">
                            <label for="formGroupExampleInput" class="text-success">Descripción</label>
                        </div>
                        <div class="row justify-content-center">
                            <input type="text" class="form-control border border-success" id="formGroupExampleInput" ng-model="ctrl.periodo[0].Descripcion" placeholder="Descripción">
                        </div>
                        <div class="row justify-content-center">
                            <label for="formGroupExampleInput" class="text-success">Estatus</label>
                        </div>
                        <div class="row justify-content-center">
                            <select class="form-control border border-success" name="cmbDependencia_status" ng-model="ctrl.periodo[0].Status">
                                <option value="">--Seleccionar Estatus--</option>
                                <option value="A">Alta</option>
                                <option value="B">Baja</option>
                            </select>
                        </div>
                        <div class="row justify-content-center">
                            <label for="formGroupExampleInput" class="text-success">Ejercicio</label>
                        </div>
                        <div class="row justify-content-center">
                            <input type="text" class="form-control border border-success" id="formGroupExampleInput" ng-model="ctrl.periodo[0].Ejercicio" placeholder="Ejercicio">
                        </div>
                        <div class="row justify-content-center">
                            <label for="formGroupExampleInput" class="text-success">Inicio</label>
                        </div>
                        <div class="row justify-content-center">
                            <input type="text" class="form-control border border-success" id="InicioCreate" ng-model="ctrl.periodo[0].Inicio" placeholder="Inicio">
                        </div>
                        <div class="row justify-content-center">
                            <label for="formGroupExampleInput" class="text-success">Fin</label>
                        </div>
                        <div class="row justify-content-center">
                            <input type="text" class="form-control border border-success" id="FinCreate" ng-model="ctrl.periodo[0].Fin" placeholder="Fin">
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="ctrl.Inicio()" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" ng-click="ctrl.periodoeCreate()">Crear Unidad</button>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
    <!-- Modal Update-->
    <div class="modal fade" id="UnidadesResponsablesUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-primary justify-content-center">
                    <h5 class="modal-title" id="exampleModalLabel">Actualizar Unidad Responsable</h5>
                    <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container-fluid">

                        <div class="row justify-content-center">
                            <label for="lblDependencia" class="text-primary">Dependencia:</label>
                        </div>
                        <div class="row justify-content-center">
                            <select class="form-control border border-primary" name="cmbDependencia" ng-options="option.Id as option.Descripcion for option in ctrl.dependencias" ng-model="ctrl.periodo[0].Dependencia">
                                <option value="">--Seleccionar Dependencia--</option>
                            </select>
                        </div>
                        <div class="row justify-content-center">
                            <label for="formGroupExampleInput" class="text-primary">Periodo</label>
                        </div>
                        <div class="row justify-content-center">
                            <input type="text" class="form-control border border-primary" id="formGroupExampleInput" ng-model="ctrl.periodo[0].Periodo" placeholder="Periodo">
                        </div>

                        <div class="row justify-content-center">
                            <label for="formGroupExampleInput" class="text-primary">Descripción</label>
                        </div>
                        <div class="row justify-content-center">
                            <input type="text" class="form-control border border-primary" id="formGroupExampleInput" ng-model="ctrl.periodo[0].Descripcion" placeholder="Descripción">
                        </div>
                        <div class="row justify-content-center">
                            <label for="formGroupExampleInput" class="text-primary">Estatus</label>
                        </div>
                        <div class="row justify-content-center">
                            <select class="form-control border border-primary" name="cmbDependencia_status" ng-model="ctrl.periodo[0].Status">
                                <option value="">--Seleccionar Estatus--</option>
                                <option value="A">Alta</option>
                                <option value="B">Baja</option>
                            </select>
                        </div>
                        <div class="row justify-content-center">
                            <label for="formGroupExampleInput" class="text-primary">Ejercicio</label>
                        </div>
                        <div class="row justify-content-center">
                            <input type="text" class="form-control border border-primary" id="calendario" ng-model="ctrl.periodo[0].Ejercicio" placeholder="Ejercicio">
                        </div>
                        <div class="row justify-content-center">
                            <label for="formGroupExampleInput" class="text-primary">Inicio</label>
                        </div>
                        <div class="row justify-content-center">
                            <input type="text" class="form-control border border-primary" id="InicioUpdate" ng-model="ctrl.periodo[0].Inicio" placeholder="Inicio">
                        </div>
                        <div class="row justify-content-center">
                            <label for="formGroupExampleInput" class="text-primary">Fin</label>
                        </div>
                        <div class="row justify-content-center">
                            <input type="text" class="form-control border border-primary" id="FinUpdate" ng-model="ctrl.periodo[0].Fin" placeholder="Fin">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="ctrl.Inicio()" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" ng-click="ctrl.periodoUpdate()">Actualizar Datos</button>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="lblDependencia" class="text-primary">Dependencia:</label>
                    <select class="form-control border border-primary" name="cmbDependencia" ng-change="ctrl.ValorDependencia()" ng-options="option.Id as option.Descripcion for option in ctrl.dependencias" ng-model="ctrl.cve_dependencia">
                        <option value="">--Seleccionar Dependencia--</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="lblDependencia" class="text-info">Dependencia:</label>
                    <select class="form-control border border-info" name="cmbDependencia">
                        <option value="">--Seleccionar Estatus--</option>
                        <option value="A">Alta</option>
                        <option value="B">Baja</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="lblStatus" class="text-success">Busqueda</label>
                    <input type="text" class="form-control border border-success" placeholder="Busqueda" ng-model="buscar">
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="container">
                <div class="col text-right">
                    <button type="button" class="btn btn-sm btn-success btn-create" data-toggle="modal" data-target="#UnidadesResponsablesCreate" style="width:80px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo</button>
                    <br />
                </div>
            </div>
        </div>

        <div class="container table-responsive" style="box-shadow: 10px 40px 96px rgba(0,0,0,.3)">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Dependencia</th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Periodo'; sortReverse = !sortReverse">
                                Periodo
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Descripcion'; sortReverse = !sortReverse">
                                Descripción
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Status'; sortReverse = !sortReverse">
                                Estatus
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Ejercicio'; sortReverse = !sortReverse">
                                Ejercicio
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Inicio'; sortReverse = !sortReverse">
                                Inicio
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Fin'; sortReverse = !sortReverse">
                                Fin
                            </a>
                        </th>

                        <th style="text-align:center"><em class="fa fa-cog"></em></th>
                    </tr>
                </thead>
                <tbody ng-repeat="i in ctrl.periodos | orderBy:sortType:sortReverse | filter:buscar">
                    <tr>
                        <td>{{i.Dependencia}}</td>
                        <td>{{i.Periodo}}</td>
                        <td>{{i.Descripcion}}</td>
                        <td>{{i.Status}}</td>
                        <td>{{i.Ejercicio}}</td>
                        <td>{{i.Inicio}}</td>
                        <td>{{i.Fin}}</td>


                        <td style="text-align:center">
                            <!--data-toggle="modal" data-target="#UnidadesResponsables"-->
                            <button type="button" class="btn btn-primary" style="width:50px" data-toggle="modal" data-target="#UnidadesResponsablesUpdate" ng-click="ctrl.Modal(i.Id)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>

                            <button type="button" class="btn btn-danger" ng-click="ctrl.EliminnarPeriodo(i.Id)" style="width:50px">
                                <i class="fa fa-eraser" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th style="text-align:center">
                            <button type="button" class="btn btn-danger" ng-click="ctrl.BorrarImpViatico()" style="width:50px">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-success" ng-click="ctrl.BorrarImpViatico($index)" style="width:50px">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            </button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>


<br />
<br />
<br />
<br />
<br />

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/global.js"></script>
@*<script src="~/Scripts/angular.ng-modules.js"></script>*@
<script src="~/Scripts/Controllers/PeriodosController.js"></script>
<script src="~/Scripts/Models/PeriodosModel.js"></script>
InicioCreate
<script type="text/javascript">
    $('#InicioCreate').datetimepicker({
        timepicker: false,
        format: 'd/m/Y'
    });
     $('#FinCreate').datetimepicker({
        timepicker: false,
        format: 'd/m/Y'
     });
     $('#InicioUpdate').datetimepicker({
        timepicker: false,
        format: 'd/m/Y'
     });
     $('#FinUpdate').datetimepicker({
        timepicker: false,
        format: 'd/m/Y'
    });
</script>
