
@{
    ViewBag.Title = "UnidadesResponsables";
    Layout = "~/Views/Shared/_LayoutContenido.cshtml";

}

<h2>UnidadesResponsables</h2>
<br />
<br />
<br />


<div ng-app="MIPlanWeb" ng-controller="MIPlanController as ctrl" ng-init="ctrl.Inicio()">

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
    <!-- Modal Update-->
    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="UnidadesResponsablesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="modalForm" novalidate>
                    <div id="title" class="">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close btn-danger" data-dismiss="modal" ng-click="ctrl.reset(modalForm)" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <div class="row justify-content-center">
                                <label id="lblDependencia" class="">Dependencia:</label>
                            </div>
                            <div class="row justify-content-center">
                                <select id="cmbDependencia" class="" name="cmbDependencia" ng-options="option.Id as option.Descripcion for option in ctrl.dependencias" ng-model="ctrl.unidad[0].Dependencia" required>
                                    <option value="">--Seleccionar Dependencia--</option>
                                </select>
                            </div>
                            <div class="row justify-content-center">
                                <span class="messages" ng-show="modalForm.$submitted || modalForm.cmbDependencia.$touched">
                                    <span ng-show="!ctrl.unidad[0].Dependencia" class="text-danger">Campo Requerido</span>
                                </span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <div class="row justify-content-center">
                                <label id="lblClave" class="">Clave</label>
                            </div>
                            <div class="row justify-content-center">
                                <input type="text" id="inputClave" class="" name="Clave" readonly ng-model="ctrl.Clave" placeholder="Clave" required>
                            </div>
                            <div class="row justify-content-center">
                                <span class="messages" ng-show="modalForm.$submitted || modalForm.Clave.$touched">
                                    <span ng-show="!ctrl.Clave" class="text-danger">Campo Requerido</span>
                                </span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <div class="row justify-content-center">
                                <label id="lblDescripcion" class="">Descripción</label>
                            </div>
                            <div class="row justify-content-center">
                                <input type="text" id="inputDescripcion" name="Descripcion" class="" ng-model="ctrl.unidad[0].Descripcion" required placeholder="Descripción">
                            </div>
                            <div class="row justify-content-center">
                                <span class="messages" ng-show="modalForm.$submitted || modalForm.Descripcion.$touched">
                                    <span ng-show="!ctrl.unidad[0].Descripcion" class="text-danger">Campo Requerido</span>
                                </span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <div class="row justify-content-center">
                                <label id="lblStatus" class="">Estatus</label>
                            </div>
                            <div class="row justify-content-center">
                                <select id="cmbStatus" class="" name="cmbDependencia_status" ng-model="ctrl.EStatus" required>
                                    <option value="A">Activo</option>
                                    <option value="B">Baja</option>
                                </select>
                            </div>
                            <div class="row justify-content-center">
                                <span class="messages" ng-show="modalForm.$submitted || modalForm.cmbDependencia_status.$touched">
                                    <span ng-show="!ctrl.EStatus" class="text-danger">Campo Requerido</span>
                                </span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <br />
                            <div class="row justify-content-center">
                                <label id="lblCoordinacion" class="">Coordinacion</label>
                            </div>
                            <div class="row justify-content-center">
                                <div class="radio-group">
                                    <label class="radio ">
                                        <input type="radio" value="S" name="gender" ng-model="ctrl.unidad[0].Coordinador" required />
                                        Si
                                        <span></span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" value="N" name="gender" ng-model="ctrl.unidad[0].Coordinador" required />
                                        No
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <span class="messages" ng-show="modalForm.$submitted || modalForm.gender.$touched">
                                    <span ng-show="!ctrl.unidad[0].Coordinador" class="text-danger">Campo Requerido</span>
                                </span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                            <br />
                            <div class="row justify-content-center">
                                <div id="ErrorModal" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
                                    <strong id="MessageModal">¡Ha ocurrido un error! </strong>
                                    <button type="button" class="close" ng-click="ctrl.DivErrorModal()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
                        </div>
                    </div>
                    <div class="modal-footer">                        
                        <button type="button" id="btnModal" class="btn btn-primary" ng-click="ctrl.UnidadResponsableUpdateCreate(ctrl.unidad[0].Id); ctrl.reset(modalForm)" ng-disabled="modalForm.$invalid">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--------------------------------------------------------------data-dismiss="modal"------------------------------------------------------------------------------------------------------------------------------->


    <div class="container">

        <div id="Error" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
            <strong id="Message">¡Ha ocurrido un error! </strong>
            <button type="button" class="close" ng-click="ctrl.DivError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="lblDependencia" class="text-primary">Dependencia:</label>
                    <select class="form-control border border-primary" name="cmbDependencia" ng-change="ctrl.ValorDependencia()" ng-options="option.Id as option.Descripcion for option in ctrl.dependencias" ng-model="ctrl.buscar" style="max-width:100%;">
                        <option value="">--Seleccionar Dependencia--</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="lblDependencia" class="text-info">Estatus:</label>
                    <select class="form-control border border-info" name="cmbDependencia" ng-change="ctrl.StatusFun()" ng-model="ctrl.Status.Status" style="max-width:100%;">
                        <option value="">--Seleccionar Estatus--</option>
                        <option value="Todos">Todos</option>
                        <option value="A">Alta</option>
                        <option value="B">Baja</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="lblStatus" class="text-success">Busqueda</label>
                    <input type="text" class="form-control border border-success" placeholder="Busqueda" ng-model="ctrl.buscar" style="max-width:100%;">
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="container">
                <div class="col text-right">
                    <button type="button" class="btn btn-sm btn-success btn-create" data-toggle="modal" data-target="#UnidadesResponsablesModal" data-backdrop="static" data-keyboard="false" style="width:120px" ng-click="ctrl.Color()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo</button>
                    <br />
                </div>
            </div>
        </div>

        <div class="container table-responsive" style="box-shadow: 10px 40px 96px rgba(0,0,0,.3)">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Dependencia'; sortReverse = !sortReverse">
                                Dependencia
                                <span ng-class="sortType == 'Dependencia' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Dependencia' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Clave'; sortReverse = !sortReverse">
                                Clave
                                <span ng-class="sortType == 'Clave' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Clave' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Descripcion'; sortReverse = !sortReverse">
                                Descripción
                                <span ng-class="sortType == 'Descripcion' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Descripcion' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Status'; sortReverse = !sortReverse">
                                Estatus
                                <span ng-class="sortType == 'Status' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Status' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="" ng-click="sortType = 'Coordinador'; sortReverse = !sortReverse">
                                Coordinador
                                <span ng-class="sortType == 'Coordinador' && !sortReverse ? 'fa fa-arrow-down' : sortType == 'Coordinador' && sortReverse ? 'fa fa-arrow-up': ''"></span>
                            </a>
                        </th>

                        <th style="text-align:center"><em class="fa fa-cog"></em></th>
                    </tr>
                </thead>
                <tbody ng-pagination="i in ctrl.unidades  | orderBy:sortType:sortReverse | filter:ctrl.buscar | filter:ctrl.Status" ng-pagination-size="5">
                    <tr>
                        <td>{{i.Dependencia}}</td>
                        <td>{{i.Clave}}</td>
                        <td>{{i.Descripcion}}</td>
                        <td>{{i.Status}}</td>
                        <td>{{i.Coordinador}}</td>


                        <td style="text-align:center">
                            <!--data-toggle="modal" data-target="#UnidadesResponsables"-->
                            <button type="button" class="btn btn-primary" style="width:50px" data-toggle="modal" data-target="#UnidadesResponsablesModal" data-backdrop="static" data-keyboard="false" data-toggle="tooltip" data-placement="top" title="Editar" ng-click="ctrl.Modal(i.Id)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" ng-click="ctrl.EliminnarUR(i.Id)" style="width:50px">
                                <i class="fa fa-eraser" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4"><ng-pagination-control pagination-id="ctrl.unidades" color="white" height="35px"></ng-pagination-control></th>                                              
                        <th style="text-align:center" colspan="2">
                            <button type="button" class="btn btn-danger" ng-click="ctrl.BorrarImpViatico($index)" style="width:50px">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-success" ng-click="ctrl.BorrarImpViatico($index)" style="width:50px">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            </button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-pagination.js"></script>
<script src="~/Scripts/global.js"></script>
@*<script src="~/Scripts/angular.ng-modules.js"></script>*@
<script src="~/Scripts/Controllers/UnidadesResponsablesController.js"></script>
<script src="~/Scripts/Models/UnidadesResponsablesModel.js"></script>

<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script type="text/javascript">

</script>


