
@{
    ViewBag.Title = "UnidadesResponsables";
    Layout = "~/Views/Shared/_LayoutContenido.cshtml";

}

<h2>UnidadesResponsabhles</h2>
<br />
<br />
<br />


<div ng-app="MIPlanWeb" ng-controller="MIPlanController as ctrl" ng-init="ctrl.Inicio()">

    <!-- Modal -->
    <div class="modal fade" id="UnidadesResponsables" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="formGroupExampleInput">Example label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                    <label for="formGroupExampleInput">Example label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                    <label for="formGroupExampleInput">Example label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>




    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <label for="lblDependencia">Dependencia:</label>

                    <select class="form-control" name="cmbDependencia" ng-change="ctrl.ValorDependencia()" ng-options="option.Id as option.Descripcion for option in ctrl.dependencias" ng-model="ctrl.cve_dependencia">
                        <option value="0">--Seleccionar Dependencia--</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <label for="lblStatus">Status:</label>
                    <select class="form-control" name="cmbDependencia">
                        <option value="0">--Seleccionar Dependencia--</option>
                    </select>
                    <!--<input name="rbActivo" id="1" type="radio" /><label for="1">Activo</label>&nbsp;&nbsp;<input name="rbBaja" id="2" type="radio" /><label for="2">Baja</label>-->
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="row">
        <div class="form-group col-md-12">
            <label for="lblCatalogo">Catalogo:</label>&nbsp;&nbsp;

            <select class="form-control" name="cmbCatalogo" @*ng-options="option.Id as option.Descripcion for option in ctrl.dependencias"*@ ng-model="ctrl.cve_catalogo">
                <option value="0">--Seleccionar--</option>
            </select>
        </div>
    </div>

        -->

<h2 ng-model="ctrl.unidad.Descripcion">pruebaaa</h2>

    <div class="panel panel-default panel-table">
        @*<h3 class="panel-title input-group-text">Viaticos Asignados</h3><input type="button" class="btn btn-sm btn-primary btn-create" data-toggle="modal" data-target="#InfViaticos" />Nuevo<i class="fa fa-plus" aria-hidden="true"></i>*@
        <div class="panel-heading">
            <div class="container">
                <div class="col text-right">
                    <button type="button" class="btn btn-sm btn-primary btn-create" data-toggle="modal" data-target="#UnidadesResponsables" style="width:80px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo</button>
                    <br />
                </div>
            </div>
        </div>
        <div class="container table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Dependencia</th>
                        <th scope="col">Clave</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Estatus</th>

                        <th style="text-align:center"><em class="fa fa-cog"></em></th>
                    </tr>
                </thead>
                <tbody ng-repeat="i in ctrl.unidades">
                    <tr>
                        <td>{{i.Dependencia}}</td>
                        <td>{{i.Clave}}</td>
                        <td>{{i.Descripcion}}</td>
                        <td>{{i.Status}}</td>


                        <td style="text-align:center">                     <!--data-toggle="modal" data-target="#UnidadesResponsables"-->
                            <button type="button" class="btn" style="width:50px"  ng-click="ctrl.Update($index)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>

                            <button type="button" class="btn btn-danger" ng-click="ctrl.BorrarBasico($index)" style="width:50px">
                                <i class="fa fa-eraser" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th style="text-align:center">
                            <button type="button" class="btn btn-danger" ng-click="ctrl.BorrarImpViatico($index)" style="width:50px">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-success" ng-click="ctrl.BorrarImpViatico($index)" style="width:50px">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            </button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/global.js"></script>
@*<script src="~/Scripts/angular.ng-modules.js"></script>*@
<script src="~/Scripts/Controllers/UnidadesResponsablesController.js"></script>
<script src="~/Scripts/Models/UnidadesResponsablesModel.js"></script>