
@{
    ViewBag.Title = "UnidadesPorUsuario";
    Layout = "~/Views/Shared/_LayoutContenido.cshtml";
}

<br class="imgUnach" />
<br />



<div ng-controller="MIPlanController as ctrl" ng-init="ctrl.Inicio()">

    <div id="Error" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
        <strong id="Message">¡Ha ocurrido un error! </strong>
        <button type="button" class="close" ng-click="ctrl.DivError()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container">
        <!---------------------------------------------------------------------------------------------------->
        <div class="row">

            <div class="container col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="" class="font-weight-bold text-primary">
                        Usuario
                    </label>
                    <select name="" id="" class="form-control border border-primary" ng-change="ctrl.ValorUsuario()" ng-options="option.Usuario for option in ctrl.Usuarios" ng-model="ctrl.Usuario" required>
                        <option value="">Seleccionar Usuario...</option>
                    </select>
                </div>
            </div>

            <!---------------------------------------------------------------------------------------------------->


            <div class="container col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="" class="font-weight-bold text-primary">
                        Dependencia
                    </label>
                    <select name="" id="" class="form-control border border-primary" ng-change="ctrl.ValorDependencia()" ng-options="option.Id as option.Descripcion for option in ctrl.dependencias" ng-model="Dependencia" required>
                        <option value="">Seleccionar Dependencia...</option>
                    </select>

                </div>
            </div>
        </div>
        <!---------------------------------------------------------------------------------------------------->
        <div class="row">


            <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5">
                <br />
                <br />
                <label for="" class="text-primary">
                    Unidades disponibles
                </label>
                <br />
                <br />
                <table class="table table-hover">
                    <thead class="light-blue darken-3 text-white">
                        <tr>
                            <th scope="col" class="text-white">ID</th>
                            <th scope="col" class="text-white">Descripción</th>
                        </tr>
                    </thead>
                    <tbody ng-pagination="i in ctrl.GridUnidadesDisponiblesView | filter: UD|  itemsPerPage: 5" pagination-id="PaginationUD">
                        <tr ng-click="ctrl.getIdUD(i.Id, i.Descripcion); AA= ctrl.DescripcionUD" ng-class="{'Mybg text-white': AA == ctrl.DescripcionUD}" class="cursor-pointer">
                            <th scope="row">{{i.Id}}</th>
                            <td>{{i.Descripcion}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2">
                                <ng-pagination-control boundary-links="true" pagination-id="PaginationUD"></ng-pagination-control>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!---------------------------------------------------------------------------------------------------->

            <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
                <div class="form-group text-center">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <button type="button" class="btn btn-outline-primary">></button>
                    <br />
                    <br />
                    <button type="button" class="btn btn-outline-primary"><</button>
                    <br />
                    <br />
                    <button type="button" class="btn btn-outline-primary">>></button>
                    <br />
                    <br />
                    <button type="button" class="btn btn-outline-primary"><<</button>


                </div>

            </div>
            <!---------------------------------------------------------------------------------------------------->

            <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5">
                <br />
                <br />
                <label for="" class="text-primary">
                    Unidades asignadas
                </label>
                <br />
                <br />
                <table class="table table-hover">
                    <thead class="cyan darken-3 text-white">
                        <tr>
                            <th scope="col" class="text-white">#</th>
                            <th scope="col" class="text-white">First</th>
                            <th scope="col" class="text-white">Last</th>
                            <th scope="col" class="text-white">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>12</td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </div>

        <!---------------------------------------------------------------------------------------------------->

        <br />
        <br />
        <br />
        <div class="col text-right">
            <button class="btn btn-primary">
                Guardar
            </button>

            <button class="btn btn-danger">
                Salir
            </button>
        </div>




    </div>





</div>






<br />
<br />

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-pagination.js"></script>
<script src="~/Scripts/angular-animate.js"></script>
<script src="~/Scripts/global.js"></script>
@*<script src="~/Scripts/angular.ng-modules.js"></script>*@
<script src="~/Scripts/Controllers/UnidadesPorUsuarioController.js"></script>
<script src="~/Scripts/Models/UnidadesPorUsuarioModel.js"></script>
<script src="~/Scripts/Controllers/AccesoController.js"></script>
<script src="~/Scripts/Models/AccesoModel.js"></script>

<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script type="text/javascript">
    $(document).ready(function () {

        $('button').tooltip();

    });
</script>

