
@{
    ViewBag.Title = "UnidadesPorUsuario";
    Layout = "~/Views/Shared/_LayoutContenido.cshtml";
}

<br class="imgUnach" />
<br />



<div ng-controller="MIPlanController as ctrl" ng-init="ctrl.Inicio()">


    <div class="container">
        <!---------------------------------------------------------------------------------------------------->
        <div class="row">

            <div class="container col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="" class="font-weight-bold text-primary">Usuario</label>
                    <br />
                    <input type="text" class="form-control border border-primary" placeholder="Usuario">

                </div>
            </div>

            <!---------------------------------------------------------------------------------------------------->


            <div class="container col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="" class="font-weight-bold text-primary">
                        Dependencia
                    </label>
                    <select name="" id="" class="form-control border border-primary">
                        <option selected>Seleccionar Dependencia...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                </div>
            </div>
        </div>
        <!---------------------------------------------------------------------------------------------------->



        <div class="form-group text-center">
            <br />
            <br />
            <label for="" class="font-weight-bold text-info">Unidades Asignadas</label>
            <br />
            <br />
            <!----------------------------------------------MODAL---------------------------------------------------------------------------------------->
            <div class="form-group text-right">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Nueva Unidad Disponible
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-white" style="background-color: #01579b;">
                                Unidades Disponibles
                            </div>

                            <!------------------------CUERPO DE LA TABLA------------------------------------------>
                            <div class="modal-body">
                                <div>
                                    <table class="table table-hover">
                                        <thead class="bg-primary">
                                            <tr>
                                                <th scope="col" class="text-white">#</th>
                                                <th scope="col" class="text-white">First</th>
                                                <th scope="col" class="text-white">Last</th>
                                                <th scope="col" class="text-white">Handle</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!------------------------------------------------------------------>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-------------------------------------------------------------------------------------------------------------------------------------->
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="bg-primary">
                        <tr>
                            <th scope="col" class="text-white">#</th>
                            <th scope="col" class="text-white">First</th>
                            <th scope="col" class="text-white">Last</th>
                            <th scope="col" class="text-white">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>
                                <button class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger"><i class="fa fa-eraser"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>
                                <button class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger"><i class="fa fa-eraser"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>
                                <button class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger"><i class="fa fa-eraser"></i></button>
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <!---------------------------------------------------------------------------------------------------->

    <br />
    <br />
    <div class="col text-right">
        <button class="btn btn-primary">
            Guardar
        </button>

        <button class="btn btn-danger">
            Salir
        </button>
    </div>




</div>
</div>




<br />
<br />

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-pagination.js"></script>
<script src="~/Scripts/angular-animate.js"></script>
<script src="~/Scripts/global.js"></script>
@*<script src="~/Scripts/angular.ng-modules.js"></script>*@
<script src="~/Scripts/Controllers/UnidadesPorUsuarioController.js"></script>
<script src="~/Scripts/Models/UnidadesPorUsuarioModel.js"></script>
<script src="~/Scripts/Controllers/AccesoController.js"></script>
<script src="~/Scripts/Models/AccesoModel.js"></script>

<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script type="text/javascript">
    $(document).ready(function () {

        $('button').tooltip();

    });
</script>

